rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && request.auth.token.email == '8298625380mr@gmail.com';
    }

    match /orders/{orderId} {
      allow create: if signedIn() && request.resource.data.clientId == request.auth.uid;
      allow read: if signedIn() && (resource.data.clientId == request.auth.uid || isAdmin());
      allow update, delete: if isAdmin();
    }

    match /invoices/{invoiceId} {
      allow read: if signedIn() && (resource.data.clientId == request.auth.uid || isAdmin());
      allow create, update, delete: if isAdmin();
    }

    match /claims/{claimId} {
      allow create: if signedIn() && request.resource.data.clientId == request.auth.uid;
      allow read: if signedIn() && (resource.data.clientId == request.auth.uid || isAdmin());
      allow update, delete: if isAdmin();
    }
  }
}
